/* src/components/Header/styles.css */

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.hero {
  margin-top: -80px;
}

.profile-image {
  width: 200px;
  height: 240px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center top;
  margin-bottom: 1rem;
}

.header-name {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.header-tagline {
  font-size: 1.4rem;
  color: #777;
  margin-bottom: 1rem;
}