* {
  box-sizing: border-box;
}

.home-container {
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.home-container h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-container p {
  color: #555;
  font-size: 1.1rem;
}

header {
  height: calc(100vh - 69px);
  flex-direction: column;
}

section {
  height: 100vh;
}

header, section {
  display: flex;
  position: relative;
  width: 100%;  
  justify-content: center;
  align-items: center;
}

.arrow-button, .chevron-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}