.home-container {
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .home-container h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .home-container p {
    color: #555;
    font-size: 1.1rem;
  }
  
  header{
  height: calc(100vh - 37px);
  }

  section {
    height: 100vh;
  }

  .arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, scale 0.3s;
  }
  
  .arrow-button:hover .arrow-icon {
    transform: translateY(5px) scale(1.05)
  }
  
  .arrow-button:focus {
    outline: none;
  }