.navbar {
    background-color: #333;
    padding: 1rem;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar-item {
    margin: 0.5rem;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .navbar-link:hover {
    background-color: #555;
  }