/* Contact stylesheet */
.contact-section {
  padding: 50px 0;
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-section-content {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-button {
  color: #0077b5;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border: #e9e9e9 solid 1px;
  cursor: pointer;  
  margin-right: 10px;
  width: 100%;
}

.contact-button span {
  margin: 0 auto;
}

.contact-button:hover {
  color: #005582;
  transform: translateY(-2px);
  background-color: #e9e9e9;
}

.link-icon {
  width: 24px;
  height: 24px;
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10;
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
  transition: color 0.3s;
}

.close-modal-button:hover {
  color: #888;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
