.background-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: #f5f5f5;
}

.background-image-container {
    flex: 1;
    padding: 50px;
}

#background-image {
    max-width: 75%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.background-content {
    flex: 1;
    padding-left: 1rem;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-content p, .background-content h3 {    
    text-align: left;
}

.background-greeting {
    max-width: 80%;
}

.background-greeting p, .background-greeting h2{
    text-align: center;  
    font-weight: 600;
}

.background-journey, .background-blend, .background-life {
    text-align: left;
}
