.background-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

.background-image-container {
    flex: 1;
    padding: 50px;
}

.background-image {
    max-width: 75%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.background-content  {
    flex: 1;
    padding-right: 1rem;
    max-width: 60%;
}

.background-content p, h3 {    
    text-align: left;
}
